---
import { getCollection } from "astro:content";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Page from "../../layouts/Page.astro";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a: any, b: any) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION} addNight={true}>
  <section class="flex flex-1 flex-col p-6 w-full m-auto box-border mt-6 mb-20 max-w-[900px]">
    <h2 class="section__title font-semibold">Let's Learn Together!</h2>
    <div class="pt-10 grid gap-16 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-12">
      {
        posts.map((post: any) => (
          <a class="" href={`/blog/${post.slug}/`}>
            <div class="mb-4">
              <FormattedDate date={post.data.pubDate} />
              <h4 class="mt-2">{post.data.title}</h4>
            </div>
            <p>{post.data.description}</p>

            <p class="btn-read-story">Read Full Story</p>
          </a>
        ))
      }
    </div>
  </section>
</Page>

<style>
  .btn-read-story {
    color: var(--clr-grd-one);
  }
</style>
