---
import IconLink from "./IconLink.astro";
import Popup from "./Popup.astro";

const { default: instagram } = await import(`/src/assets/icons/instagram.svg?raw`);
const { default: facebook } = await import(`/src/assets/icons/facebook.svg?raw`);
const { default: linkedin } = await import(`/src/assets/icons/linkedin.svg?raw`);
const { default: github } = await import(`/src/assets/icons/github.svg?raw`);
const { default: envelope } = await import(`/src/assets/icons/envelope.svg?raw`);
 
---

<div class="center lg:invisible">
    <Popup icon={envelope} text="lasiprabo&nbsp;[at]&nbsp;gmail&nbsp;[dot]&nbsp;com" />

  <IconLink href="https://www.instagram.com/lu6_fer" ariaLabel="insta" icon={instagram} />

  <IconLink href="https://www.facebook.com/lmlxlml" ariaLabel="fb" icon={facebook} />

  <IconLink href="https://linkedin.com/in/lasithapw" ariaLabel="linkedin" icon={linkedin} />

  <IconLink href="https://github.com/LasithaPrabodha" ariaLabel="github" icon={github} />
</div>
