---
import HeaderLink from "./HeaderLink.astro";
import IconLink from "./IconLink.astro";
// import "@assets/styles/header.css";

const { default: moon } = await import(`/src/assets/icons/moon.svg?raw`);
const { default: cross } = await import(`/src/assets/icons/xmark.svg?raw`);
const { default: menu } = await import(`/src/assets/icons/bars.svg?raw`);
const { default: sun } = await import(`/src/assets/icons/sun.svg?raw`);

const { default: instagram } = await import(`/src/assets/icons/instagram.svg?raw`);
const { default: facebook } = await import(`/src/assets/icons/facebook.svg?raw`);
const { default: linkedin } = await import(`/src/assets/icons/linkedin.svg?raw`);
const { default: github } = await import(`/src/assets/icons/github.svg?raw`);
const { default: envelope } = await import(`/src/assets/icons/envelope.svg?raw`);
---

<header class="fixed top-0 left-0 right-0 bg-transparent" transition:animate="none">
  <nav class="nav flex justify-between py-6 px-10" transition:persist="navigation">
    <h4 class="font-bold">LP</h4>

    <div class="flex justify-center">
      <ul class="nav-list center">
        <HeaderLink href="/">home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </ul>

      <button id="theme-toggle" type="button" aria-label="toggle theme" class="btn btn--icon">
        <Fragment set:html={moon} />
        <Fragment set:html={sun} />
      </button>

      <button type="button" aria-label="toggle navigation" class="btn btn--icon nav-hamburger">
        <Fragment set:html={menu} />
        <Fragment set:html={cross} />
      </button>
    </div>
  </nav>
</header>

<div class="social-icons fixed bottom-0 left-6 gap-1 flex flex-col">
  <IconLink href="mailto:lasiprabo@gmail.com" ariaLabel="email" icon={envelope} />

  <IconLink href="https://www.instagram.com/lu6_fer" ariaLabel="insta" icon={instagram} />

  <IconLink href="https://www.facebook.com/lmlxlml" ariaLabel="fb" icon={facebook} />

  <IconLink href="https://linkedin.com/in/lasithapw" ariaLabel="linkedin" icon={linkedin} />

  <IconLink href="https://github.com/LasithaPrabodha" ariaLabel="github" icon={github} />
</div>

<style is:global>
  [data-id="moon"],
  [data-id="sun"],
  [data-id="close"],
  [data-id="menu"] {
    fill: var(--clr-primary);
  }
  [data-id="moon"] {
    display: var(--display-moon);
  }
  [data-id="sun"] {
    display: var(--display-sun);
  }
  header svg {
    width: 16px;
  }
  header {
    background-color: rgb(255 255 255 / 85%);
    backdrop-filter: blur(10px);
    transition: 0.5s;
  }
  @media (prefers-reduced-motion: no-preference) {
    header.hide {
      transform: translateY(-100%);
    }
  }
  header,
  nav * {
    z-index: 1;
  }

  .nav-list {
    margin-right: 1.5em;
    display: flex;
  }

  .nav-hamburger {
    display: none;
    width: 1em;
  }

  .btn--icon {
    padding: 0;
    font-size: 1.2rem;
  }

  .btn--icon:hover,
  .btn--icon:focus {
    color: var(--clr-primary);
  }

  .btn--icon:active {
    transform: translateY(-5px);
  }

  #theme-toggle {
    display: flex;
    align-items: center;
  }

  .social-icons::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--clr-quote);
  }

  body.nav-open {
    overflow: hidden;
  }
  body.nav-open main {
    z-index: -1;
  }
  @media (max-width: 1023px) {
    .social-icons {
      display: none;
    }
  }

  @media (max-width: 640px) {
    #theme-toggle {
      height: 20px;
    }
    .header {
      height: 6em;
      justify-content: flex-end !important;
      display: flex !important;
    }

    .hamburger {
      display: block;
    }

    .nav-list {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100vh;
      transition: var(--transition);
    }

    .display-nav-list {
      display: flex;
      width: 100%;
      background: var(--clr-bg);
    }

    .nav-hamburger {
      display: flex;
      margin-left: 0.8em;
    }
  }
</style>
<script>
  const btnHamburger = document.querySelector(".nav-hamburger");
  const navUl = document.querySelector(".nav-list");
  const btnTheme = document.querySelector("#theme-toggle");

  type Themes = "light" | "dark";

  if (document.body.getAttribute("data-theme") == "") {
    if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
      setTheme("dark");
    } else {
      setTheme("light");
    }
  }

  function toggleNav() {
    btnHamburger?.children[0].classList.toggle("d-none");
    btnHamburger?.children[1].classList.toggle("d-none");
    navUl?.classList.toggle("display-nav-list");
    document.body.classList.toggle("nav-open");
  }

  function getTheme() {
    if (document.body.getAttribute("data-theme")) {
      return document.body.getAttribute("data-theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  }

  function setTheme(theme: Themes) {
    document.body.setAttribute("data-theme", theme);

    if (theme === "dark") {
      document.documentElement.setAttribute("data-theme", "one-dark-pro");
    } else {
      document.documentElement.setAttribute("data-theme", "github-light");
    }

    const d = new Date();
    d.setTime(d.getTime() + 365 * 86400000);
    document.cookie = `theme=${theme};expires=${d.toUTCString()};domain=lasitha.dev;path=/`;
  }

  const handleToggleClick = () => {
    const nextTheme = getTheme() === "dark" ? "light" : "dark";
    setTheme(nextTheme);
  };

  btnTheme?.addEventListener("click", handleToggleClick);

  // Navigation
  btnHamburger?.addEventListener("click", toggleNav);

  document.addEventListener("astro:page-load", () => {
    const theme = getTheme()!;
    document.body.setAttribute("data-theme", theme);
  });

  document.addEventListener("astro:after-swap", () => {
    const parentPathName = window.location.pathname.split("/")[1];
    const activeLink = document.querySelector(`.nav-list-item [href='/${parentPathName}']`);
    activeLink?.classList.add("active");

    document.querySelector(".nav-list")?.classList.remove("display-nav-list");
    document.querySelector(".nav-hamburger")?.children[0].classList.remove("d-none");
    document.querySelector(".nav-hamburger")?.children[1].classList.add("d-none");
    document.body.classList.remove("nav-open");
  });
  document.addEventListener("astro:before-swap", () => {
    const parentPathName = window.location.pathname.split("/")[1];

    const activeLink = document.querySelector(`.nav-list-item [href='/${parentPathName}']`);
    activeLink?.classList.remove("active");
  });
  const nav = document.querySelector("header");

  let prevScrollpos = window.pageYOffset;

  const toggleBottomNav = () => {
    nav!.classList.toggle("hide", prevScrollpos <= window.pageYOffset);
    prevScrollpos = window.pageYOffset;
  };

  window.addEventListener("scroll", toggleBottomNav);
</script>
